.footer {
  height: 800px;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.footer h2 {
  font-size: 4rem;
}
