.navigation {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  color: var(--primaryColor);
  background-color: var(--whiteColor);
  font-size: 18px;
}

.navigation a {
  color: var(--primaryColor);
}

.navigation ul {
  list-style-type: none;
}

.navigation ul li {
  padding: 0 5rem;
  display: inline;
}
