.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.login-form__login-name {
  width: 300px;
  margin: 10px 0;
}

.login-form__login-password {
  width: 300px;
}

.login-form__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.login-form__login-button {
}

.login-form__logout-button {
}

