.slot {
  background-color: white;
  color: var(--primaryColor);
  padding: 5px;
  margin: 2px;
  height: 50px;
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  cursor: grab;
  border-radius: 50%;
}

.slot.sold {
  background-color: var(--purpleColor);
  color: white;
}

.slot.selected {
  background-color: var(--pinkColor);
  color: white;
}

.slot.sold:hover {
  background-color: var(--purpleColor);
  color: white;
  cursor: default;
}

.slot:hover {
  background-color: var(--primaryColor);
  color: white;
}

.slot__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
