@keyframes grow {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    height: 300px;
    opacity: 1;
  }
}

.slot-purchase {
  background-color: var(--primaryColor);
  color: white;
  animation: grow .5s ease-out;
  width: 30%;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slot-purchase h2 {
  font-size: 2em;
}

.slot-purchase button.purchase-button {
  padding: 30px;
  font-size: 2em;
  cursor: pointer;
  border-radius: 15px;
}

.slot-purchase button.cancel-button {
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 15px;
}
