.raffle-tile {
  display: flex;
  margin: 25px;
  justify-content: center;
  transition: width .5s ease-out, opacity .5s;
  width: 20%;
  white-space: nowrap;
}

.raffle-tile .content {
  height: 300px;
  width: 300px;
  background-color: var(--lightGreyColor);
  color: black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 8px;
  border-style: solid;
  transition: transform 0.1s ease-out;
}

.raffle-tile .content:hover {
  transform: scale(1.1);
}

.raffle-tile .content .title {
  color: black;
  font-size: 1.5em;
  padding: 15px 0;
}

.raffle-tile .raffle-info {
  padding: 5px 0;
  font-size: 1.2em;
}

.raffle-tile.hidden {
  width: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
}
