.raffleTile {
  display: flex;
  flex: 25%;
  justify-content: center;
}

.raffleTile .content {
  height: 300px;
  width: 300px;
  background-color: rgba(51, 102, 198, 0.2);
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.raffleTile .content .title {
  color: white;
  font-size: 20px;
  padding: 15px 0;
}
